# Project: Investigate The Movie Database (TMDb) Dataset

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

[test](#conclusions)

<a id='intro'></a>
## Introduction

> This data set contains information about 10,000 movies collected from The Movie Database (TMDb), including user ratings and revenue.

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [2]:
# Use this cell to set up import statements for all of the packages that you
#   plan to use.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

movie_df = pd.read_csv('tmdb-movies.csv')

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties
Using pandas to explore ```tmdb-movies.csv``` to answer the following questions about the characteristics of the datasets:

- number of samples & columns in the dataset
- duplicate rows in the dataset
- datatypes of columns
- features with missing values
- number of non-null unique values for features in the dataset
- what those unique values are and counts for each
- Number of rows with missing values in the dataset

In [3]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

#### Number of samples & columns in the dataset

In [4]:
print(movie_df.shape)
movie_df.head(3)

(10866, 21)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08

#### Duplicate rows in the dataset

In [5]:
movie_df.duplicated().sum()

1

In [6]:
movie_df[movie_df.duplicated(keep=False)]

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
2089,42194,tt0411951,0.59643,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,"In the year of 2039, after World Wars destroy ...",92,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.0,2010,30000000.0,967000.0
2090,42194,tt0411951,0.59643,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,"In the year of 2039, after World Wars destroy ...",92,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.0,2010,30000000.0,967000.0

#### Datatype of column in the dataset

In [7]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

#### Features with missing values in the dataset

In [8]:
movie_df.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

#### Number of unique values for the dataset

In [9]:
movie_df.nunique()

id                      10865
imdb_id                 10855
popularity              10814
budget                    557
revenue                  4702
original_title          10571
cast                    10719
homepage                 2896
director                 5067
tagline                  7997
keywords                 8804
overview                10847
runtime                   247
genres                   2039
production_companies     7445
release_date             5909
vote_count               1289
vote_average               72
release_year               56
budget_adj               2614
revenue_adj              4840
dtype: int64

#### Number of rows with missing values in the dataset

In [10]:
movie_df.isnull().any(axis=1).sum()

8874

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [11]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

#### Drop Extraneous Columns
Drop features that aren't relevant to our questions. Columns to Drop: 'imdb_id', 'popularity', 'homepage', 'overview', 'tagline'

In [12]:
# drop columns from the dataset
movie_df.drop(['imdb_id', 'popularity', 'homepage', 'overview', 'tagline'], axis=1, inplace=True)

# confirm changes
movie_df.head(1)

,id,budget,revenue,original_title,cast,director,keywords,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [4]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [5]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!

In [16]:
test = movie_df['genres'].str.split('|')                        
print(test)

0           [Action, Adventure, Science Fiction, Thriller]
1           [Action, Adventure, Science Fiction, Thriller]
2                   [Adventure, Science Fiction, Thriller]
3            [Action, Adventure, Science Fiction, Fantasy]
4                                [Action, Crime, Thriller]
5                    [Western, Drama, Adventure, Thriller]
6           [Science Fiction, Action, Thriller, Adventure]
7                      [Drama, Adventure, Science Fiction]
8                   [Family, Animation, Adventure, Comedy]
9                              [Comedy, Animation, Family]
10                              [Action, Adventure, Crime]
11           [Science Fiction, Fantasy, Action, Adventure]
12                                [Drama, Science Fiction]
13                       [Action, Comedy, Science Fiction]
14                    [Action, Adventure, Science Fiction]
15                        [Crime, Drama, Mystery, Western]
16                               [Crime, Action, Thriller]
17                    [Science Fiction, Action, Adventure]
18                       [Romance, Fantasy, Family, Drama]
19                       [War, Adventure, Science Fiction]
20       [Action, Family, Science Fiction, Adventure, M...
21                                         [Action, Drama]
22                               [Action, Drama, Thriller]
23                                        [Drama, Romance]
24                                         [Comedy, Drama]
25                                                [Action]
26                                                [Comedy]
27                      [Crime, Comedy, Action, Adventure]
28                              [Drama, Thriller, History]
29                     [Action, Science Fiction, Thriller]
                               ...
10836                                    [Comedy, Romance]
10837                      [War, Action, Adventure, Drama]
10838                         [Action, Adventure, Western]
10839                                  [Family, Animation]
10840                                           [Thriller]
10841                                            [Western]
10842                                  [Animation, Family]
10843             [Adventure, Drama, War, History, Action]
10844        [Adventure, Comedy, Fantasy, Science Fiction]
10845                                    [Comedy, Western]
10846                                             [Horror]
10847                            [Science Fiction, Horror]
10848                         [Adventure, Science Fiction]
10849                              [Action, Comedy, Crime]
10850            [Action, Drama, Thriller, Crime, Mystery]
10851          [Adventure, Drama, Action, Family, Foreign]
10852                                            [Western]
10853                             [Comedy, Drama, Romance]
10854                             [Thriller, Drama, Crime]
10855                   [Comedy, Family, Mystery, Romance]
10856                              [Comedy, Drama, Family]
10857                                    [Action, Western]
10858                                        [Comedy, War]
10859          [Mystery, Science Fiction, Thriller, Drama]
10860                                             [Comedy]
10861                                        [Documentary]
10862                           [Action, Adventure, Drama]
10863                                    [Mystery, Comedy]
10864                                     [Action, Comedy]
10865                                             [Horror]
Name: genres, Length: 10866, dtype: object

In [18]:
test[1][1]

'Adventure'